<h1>From index.hbs</h1>

{{!-- Content of the page goes here --}}
{{!-- 1. build a form with one field (name) to add new product --}}
{{!-- 2. style the page --}}
{{!-- 3. using jQuery grab information from form --}}
{{!-- 4. using jQuery events to trigger a popup --}}
{{!-- 5. using jQuery to build submit action for form --}}
{{!-- 6. accessing API endpoint using jQuery ajax --}}
{{!-- 7. access API to get all existing products --}}
{{!-- 8. using jQuery populate existing product pull on page load --}}