<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- Content of the page goes here --}}
  </body>
  <script src="/javascripts/form.js"></script>
</html>
